/* Video Card Styles */
.video-card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* Mobile-Specific Styling */
  @media (max-width: 992px) {
    .video-card {
      margin: 0 auto;
      width: 90%;
    }
  }
  